@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --secondary: #6e6b65;
  --primary: #e72e6b;
  --text: #f2f2f2;
  --accent: #838484;
  --bg: #2d3338;
  color: var(--text);
  background: var(--bg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes moveUpDown {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.hover-animation {
  animation: moveUpDown 1s ease infinite;
}

/* width */
::-webkit-scrollbar {
  width: 1vh;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);  
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}